/*
 Theme Name:   GO Kleo 
 Theme URI:    http://goworks.org
 Description:  Kleo child theme for Groundwork Opportunities 
 Author:       GO 
 Template:     kleo 
 Version:      1.0.0
*/


.progress-bar {background: #eee;height: 8px;width: 100%;display: block;float: left;margin: 15px 0 15px 0;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;overflow:hidden;}
.progress-bar-loader {background:#87C442;height:8px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;overflow:hidden;}

.progress-field-box {float: left; margin: 5px 10px 5px 0;padding: 0 10px 0 0;border-right: 1px solid #DDD;}
.progress-field-box .big{font-size: 1.5em;color: #222;font-weight: bold;margin-top:2em;}
.progress-field-box .small {font-size: 1em;color: #999;line-height:1em;display:block;}


/* change shopping cart icon to heart */
.icon-basket-full-alt:before { 
	content: '\e810';
	color: #00b9f7;
} 

/* reflexive video scaling */
.video-container {
	position:relative;
	padding-bottom:56.25%; /* 16:9 ratio */
	padding-top:30px;
	height:0;
	overflow:hidden;
}
.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.buddypress div.gokleo_share_buttons {
	float: left;
	width: 100%;
	margin-top: 25px;
}

/* Turn off the profile section background */
.buddypress div#item-header {
	background: none;
	padding-top: 0px;
}

.buddypress .col-sm-12 #item-header-avatar {
	position: inherit;
	float: left;
	width: 100%;
	border: none;
	top: 360px;
	left: 25px;
	border-width: 4px;
	box-shadow: 0 0 0 0px;
	background-color: #ffffff;
	transition: opacity .25s ease-in-out;
}

.buddypress .video-container {
	margin-bottom: 25px;
}

.buddypress #right-column {
	margin-left: 200px;
}

.buddypress #item-inspiration {
	text-align: left;
}

.buddypress #video-button {
	width: 135px;
	border: solid 2px #eee;
	border-radius: 4px;
	font-size: 1.3em;
	font-weight: bold;
	float: left;
	margin-top: 5px;
	display: none;
}

.buddypress #item-inspiration:first-letter {
	font-size: 1.2em;
}

.buddypress #item-header-avatar img {
	border-radius: 4px;
}

.buddypress .kleo-online-status {
	bottom: 10px;
	right: 10px;
}

.buddypress #item-header-coverphoto {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.buddypress #item-header-cover {
	overflow: hidden;
	max-height: 480px;
	transition: max-height 0.8s ease-in-out;
}

.champion-project {
	font-size: 1.2em;
}

.gform_wrapper .top_label .gfield_label {
	float: left;
	padding-top: 5px;
	padding-right: 10px;
}

.champion-stats .gform_wrapper .top_label .gfield_label {
	display: none;
}

.champion-stats .single_add_to_cart_button, #signup_submit {
	margin-top: 17px;
	margin-left: -60px;
	margin-right: 5px;
	background-color: #00b9f7 !important;
	color: #ffffff !important;
}

div.product form.cart .single_add_to_cart_button {
	background-color: #00b9f7;
	color: #ffffff;
	float: left;
}

div.product form.cart {
	margin-top: 20px;
}

.go-button {
	background-color: #00b9f7;
	color: #ffffff;
	padding: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #ccc; 
}

.become-champion .go-button {
	margin-top: 8px;
}

#buddypress .field-visibility-settings, #buddypress .field-visibility-settings-toggle, #buddypress .field-visibility-settings-notoggle {
  font-size: .8em;
  padding-top: 0px;
  margin-top: -10px;
}

/* Remove the shop actions under product listings, these don't work properly currently */
div.shop-actions {
	display: none;
}

/* Hide the SKU from being displayed in the product meta data */
.woocommerce .summary div.product_meta span.sku_wrapper {
	display: none;
}

/* Hide the category from project listings */
.product-details .posted_in {
	display: none;
}

/* allow enough space for two line titles without pushing down progress bar */
.product-details {
	height: 62px;
}

.kleo-toggle-menu .kleo-toggle-submenu {
	width: 330px;  /* widen the minicart display so we can fit our button text */
}

#ideas-champion {
	clear: both; 
	padding-top: 50px;
	text-align: center;
}

#ideas-champion .meet-champions {
	text-align: center;
	font-weight: bold;
	color: #333333;
}

#ideas-champion .champions-div {
	overflow: auto; 
	max-width: 600px; 
	width: 112%;
}

#ideas-champion .champions-table {
	border: none; 
	max-width: 600px;
	vertical-align: middle;
	text-align: middle;
}

#ideas-champion .avatar {
	border: 5px solid white; 
	margin-top: 10px; 
	margin-bottom: 10px; 
	width: 100px;
	height: 100px;
}

#ideas-champion .champion-name {
	font-weight: bold;
	padding-top: 0px;
		overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

}

.champions-div div {
  width: 100px;
  float: left;
  margin: 0px 5px 0px 5px;
}


#header {
	margin-top: -25px;
}


.col-sm-3 {
	width: 33%;
	margin: 10px 0px 10px 0px;
}

/* email subscirption widget button */
#email_submit {
	background-color: #ccc;
}
